.parallax{
    background: fixed no-repeat;
    background-size: cover;
}

.seccion_uno{
    background-image: url(/img/fondo_artistas.jpg);
}

.seccion_dos{
    background-image: url(/img/fondo_badbunny.jpg);
}

.seccion_tres{
    background-image: url(/img/fondo_naty-natasha_artista.jpg);  
}

.seccion_cuatro{
    background-image: url(/img/fondo_marc-artista.jpg);  
}
.seccion_cinco{
    background-image: url(/img/fondo_yeison_artista.jpg);
}

.info_artistas{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 480px){
        flex-direction: column;
    }
}

.info_artistas img{
    padding: 30px;
    @media (max-width: 480px){
        height: 200px;
    }
}

.info_artistas h3{
    color: $bg-black;
    font-size: 3rem;
    font-family: $fontuno;
    @media (max-width: 480px){
        font-size: 2.1rem;
        text-align: center;
    }
}

.info_artistas p{
    text-align: center;
    background-color: $bg-black-secundary;
    color: $color-principal;
    font-size: 1.9rem;
    font-family: $fontuno;
    margin-right: 30px;
    box-shadow: #000000 0px 0px 10px 10px;
    @media (max-width: 480px){
        font-size: 1.4rem;
        margin-right: auto;
    }
}
